@model BudgetWebApp19010155.Models.Property; 

<style>
    .background-image {
        background-image: url(background.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .home-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .home-container {
        background-color: lightgray;
    }

    .rad-container {
        padding-right: 13em;
    }

</style>

<body class="background-image">
    <div class="text-center">
        <h1 style="font-family:'Trebuchet MS'; text-decoration:underline; text-transform:uppercase" class="display-4">Welcome to the Budget Calculator</h1>
        <br />
        <h3 style="color:red; font-family:'Segoe UI'; text-decoration:underline">Please enter the values for the following fields:</h3>
        <h5 class="text-danger">@ViewBag.PropertyError</h5>
        <div class="home-shadow">
            <div class="home-container">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <div><h5>Renting or Buying a Property:</h5></div>
                        <label style="padding-left:5em" class="rad-container" name="Rent">
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;RENTING
                            <input id="rent" type="radio" name="property">
                            &emsp;&emsp;
                            <input name="Rent">
                        </label>
                    </div>
                    <br />
                    <div>
                        <label class="rad-container" name="Buy">
                            BUYING
                            <input id="buy" type="radio" name="property">
                            &emsp;&emsp;&emsp;&emsp;
                            <br />
                            <label style="padding-left:10em">
                                Purchase Price (R):
                                <input name="PurPrice">
                            </label>

                            <br />

                            <label style="padding-left:10em">
                                &emsp;Total Deposit (R):
                                <input name="Deposit">
                            </label>

                            <br />

                            <label style="padding-left:10em">
                                &emsp;Interest Rate (%):
                                <input name="IntRate">
                            </label>

                            <br />

                            <label>
                                No. of Months to Repay (bet. 240 &amp; 360):
                                <input name="Months">
                            </label>
                        </label>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="BUY A VEHICLE" class="btn btn-primary" />
                        <input type="reset" value="RESET" class="btn btn-primary" />
                        <button class="btn btn-primary" asp-controller="BasicInfo" asp-action="Index">PREVIOUS</button>
                        <button class="btn btn-primary" asp-action="Logout">LOGOUT</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>

</body>